<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.universal.uvpn.check</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/uvpn</string>
        <string>check</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
        <key>UVPN_CONFIG_DIR</key>
        <string>__HOME__/Library/Application Support/uvpn</string>
    </dict>
    <key>StartInterval</key>
    <integer>300</integer>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>__HOME__/Library/Logs/uvpn-check.log</string>
    <key>StandardErrorPath</key>
    <string>__HOME__/Library/Logs/uvpn-check.log</string>
</dict>
</plist>
